
/* Credits */

/* color palette credit: http://www.colourlovers.com/palette/49963/let_them_eat_cake */

/* font credit: http://www.google.com/webfont */

/* Reset */
/* line 694, precompile/assets/stylesheets/application.css.coffee */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }
/* line 698, precompile/assets/stylesheets/application.css.coffee */
html {
  line-height: 1; }
/* line 701, precompile/assets/stylesheets/application.css.coffee */
ol,
ul {
  list-style: none; }
/* line 704, precompile/assets/stylesheets/application.css.coffee */
table {
  border-collapse: collapse;
  border-spacing: 0; }
/* line 707, precompile/assets/stylesheets/application.css.coffee */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }
/* line 710, precompile/assets/stylesheets/application.css.coffee */
q,
blockquote {
  quotes: none; }
/* line 775, precompile/assets/stylesheets/application.css.coffee */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none; }
/* line 713, precompile/assets/stylesheets/application.css.coffee */
a img {
  border: none; }
/* line 786, precompile/assets/stylesheets/application.css.coffee */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block; }
/* line 307, precompile/assets/stylesheets/application.css.coffee */
* html {
  font-size: 100%; }
/* line 310, precompile/assets/stylesheets/application.css.coffee */
html {
  font-size: 16px;
  line-height: 1.5em; }

/* Globals */
/* line 878, precompile/assets/stylesheets/application.css.coffee */
body {
  font: normal 400 1em/1.3em "Rambla", sans-serif; }
/* line 882, precompile/assets/stylesheets/application.css.coffee */
.logo,
.logomark {
  font-family: "Lobster", cursive; }
/* line 886, precompile/assets/stylesheets/application.css.coffee */
em {
  font-style: italic; }
/* line 890, precompile/assets/stylesheets/application.css.coffee */
body {
  background: #f1d4af;
  color: #774f38;
  line-height: 1.3em; }
/* line 896, precompile/assets/stylesheets/application.css.coffee */
a {
  color: #e08e79;
  text-decoration: none; }
/* line 899, precompile/assets/stylesheets/application.css.coffee */
a:hover {
  border-bottom: 2px dotted #e08e79;
  padding-bottom: 1px; }
/* line 905, precompile/assets/stylesheets/application.css.coffee */
ul,
ol {
  margin: 1em 0 1em 1em; }
/* line 907, precompile/assets/stylesheets/application.css.coffee */
ul li,
ol li {
  margin: 0 0 0 1em; }
/* line 912, precompile/assets/stylesheets/application.css.coffee */
ol {
  list-style-type: decimal; }
/* line 916, precompile/assets/stylesheets/application.css.coffee */
ul {
  list-style-type: square; }
/* line 920, precompile/assets/stylesheets/application.css.coffee */
nav {
  background: #774f38; }
/* line 922, precompile/assets/stylesheets/application.css.coffee */
nav .logomark {
  display: inline;
  float: left;
  position: relative;
  top: -.60em;
  color: #e08e79;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 0.6);
box-shadow:         0px 0px 6px rgba(0, 0, 0, 0.6);
  background: #ece5ce;
  border: 4px solid #e08e79;
  font-size: 40px;
  line-height: 40px;
  padding: 15px;
  margin: 0 15px 0 0;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  border-radius: 45px;
  display: none; }
/* line 937, precompile/assets/stylesheets/application.css.coffee */
nav h1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-size: 3em;
  margin: .5em 0;
  color: #fff; }
/* line 942, precompile/assets/stylesheets/application.css.coffee */
nav h1 span {
  color: #e08e79; }
/* line 946, precompile/assets/stylesheets/application.css.coffee */
nav ul.right {
  position: relative;
  width: 500px;
  text-align: right;
  font-size: 1.2em;
  top: -50px;
  display: inline;
  float: right; }
/* line 953, precompile/assets/stylesheets/application.css.coffee */
nav ul.right li {
  display: inline;
  margin-right: 1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold; }
/* line 958, precompile/assets/stylesheets/application.css.coffee */
nav ul.right li a {
  color: white; }
/* line 961, precompile/assets/stylesheets/application.css.coffee */
nav ul.right li.toc {
  background: rgba(0,0,0,.5);
  padding: .75em .5em .75em 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
/* line 970, precompile/assets/stylesheets/application.css.coffee */
.wrapper {
  width: 966px;
  margin: 0 auto;
  padding: 20px 0; }
/* line 976, precompile/assets/stylesheets/application.css.coffee */
header {
  background: #c5e0dc;
  color: #000;
  padding: 0 0 1em 0; }
/* line 980, precompile/assets/stylesheets/application.css.coffee */
header .wrapper {
  padding: 1em 366px 0 0;
  width: 600px; }
/* line 984, precompile/assets/stylesheets/application.css.coffee */
header h2 {
  font: 600 1.9em/1.2em "Source Sans Pro", sans-serif;
  margin: 0 0 .6em 0; }
/* line 988, precompile/assets/stylesheets/application.css.coffee */
header p {
  line-height: 1.5em;
  margin: 0 0 1em 0; }
/* line 994, precompile/assets/stylesheets/application.css.coffee */
article {
  color: #000; }
/* line 996, precompile/assets/stylesheets/application.css.coffee */
article .wrapper {
  width: 600px;
  padding: 0 366px 0 0;
  margin: 1em auto; }
/* line 1001, precompile/assets/stylesheets/application.css.coffee */
article h2 {
  font: 600 1.7em/1.3em "Source Sans Pro", sans-serif;
  margin: 1em 0 .5em 0; }
/* line 1005, precompile/assets/stylesheets/application.css.coffee */
article h3 {
  font: 600 1.2em/1.3em "Source Sans Pro", sans-serif;
  margin: 1em 0 .5em 0; }
/* line 1009, precompile/assets/stylesheets/application.css.coffee */
article p {
  margin: 1em 0; }
/* line 1012, precompile/assets/stylesheets/application.css.coffee */
article a {
  color: #774f38; }
/* line 1015, precompile/assets/stylesheets/application.css.coffee */
article .notice,
article .alert {
  background: #fff;
  padding: 1em;
  margin: 1em 0 1em 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
/* line 1021, precompile/assets/stylesheets/application.css.coffee */
article .alert {
  background: #e08e79;
  color: #000; }
/* line 1025, precompile/assets/stylesheets/application.css.coffee */
article pre {
  font: normal .9em/0 Monaco, monospace;
  padding: 0;
  margin: 0; }
/* line 1029, precompile/assets/stylesheets/application.css.coffee */
article pre code {
  line-height: 1.5em;
  background: #222;
  color: #c5e0dc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 1em;
  margin: 1em 0;
  overflow-x: auto; }
/* line 1038, precompile/assets/stylesheets/application.css.coffee */
article pre code::selection,
article pre code::-moz-selection {
  background: #000;
  color: #e08e79; }
/* line 1046, precompile/assets/stylesheets/application.css.coffee */
aside {
  position: absolute;
  width: 100%;
  top: 7em; }
/* line 1050, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper {
  position: relative;
  padding: 1em 0; }
/* line 1053, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper .content {
  position: absolute;
  right: 0;
  width: 257px;
  background: #f1d4af;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1em; }
/* line 1060, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper .content h3 {
  font: 700 1.3em "Rambla", sans-serif;
  color: #000;
  margin: 0 0 .5em 0; }
/* line 1065, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper .content ol {
  font: 700 1em "Rambla", sans-serif; }
/* line 1068, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper .content ul {
  font: 400 1em "Rambla", sans-serif; }
/* line 1071, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper .content ul,
aside .wrapper .content ol {
  margin: .5em 0 1em 0; }
/* line 1073, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper .content ul a,
aside .wrapper .content ol a {
  text-decoration: underline;
  color: #774f38; }
/* line 1077, precompile/assets/stylesheets/application.css.coffee */
aside .wrapper .content ul li,
aside .wrapper .content ol li {
  margin: 0 0 .5em 1em; }
/* line 1085, precompile/assets/stylesheets/application.css.coffee */
footer {
  background: #774f38;
  color: #fff;
  margin: 2em 0 0 0;
  padding: 1em 0; }
/* line 1090, precompile/assets/stylesheets/application.css.coffee */
footer p {
  margin: 0 0 1em 0; }
